body {
    background-color: #1f1f1f;
    color: white;
    margin-left: 11%;
    text-align: center;
}

header {
    background-color: #1f1f1f;
}

h3 {
    text-align: left;
}

p {
    text-align: left;
}

#app {
    padding-top: 110px;
}

.sidebar {
    padding-top: 140px;
    padding-right: 5px;
}

.navigator {
    height: 100%;
    width: 11%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    font-size: 15px
}

.navigator-left {
    left: 0;
}

.navigator-right {
    right: 0;
}

.navigator a,
.router-link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.navigator a:hover {
    background-color: #ddd;
    color: black;
}

.navigator a.active,
.router-link-active {
    background-color: #0b515c;
    color: white;
}

.buttons {
    float: right;
    padding-right: 10px;
    font-size: 30px;
}

.white {
    background-color: white;
    color: #434141;
}

.gray {
    background-color: #434141;
    color: white;
}

.hometext {
    padding: 0px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: black;
    padding-top: 110px;
}

.open-button {
    position: absolute;
    top: 0px;
    font-size: 30px;
    background-color: #1f1f1f;
    color: white;
    border: none;
    padding-top: 97px;
}

.open-button-left {
    left: 0;
}

.open-button-right {
    right: 0;
}

.open-button:hover {
    background-color: #ddd;
    color: black;
}

.close-button {
    position: absolute;
    top: 0px;
    margin: -25px -25px -50px -25px;
    text-decoration: none;
    font-size: 40px;
    color: white;
    display: block;
    background-color: #111;
    border: none;
    z-index: -1;
    padding-top: 110px;
    padding-left: 10px;
}

.close-button-left {
    left: 20px;
}

.open-button-right {
    right: 0px;
}

.close-button-right {
    right: 20px;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.isHome {
    color: white;
}

.DatasetButtons{
  display: grid;
  width: 60%;
  margin: auto 20%;
  grid-template-columns: 20% 20% 20% 20%;
  grid-column-gap: 5%
}

.DatasetButtons button{
  display: inline;

}

.dataset-list{
  display: block;
  width: 60%;
  margin: 25px 20%;
}

div.dataset-list>label:nth-of-type(even) div{background-color:#0b515c}
div.dataset-list>label:nth-of-type(odd) div{background-color: #17A2B8}

#dataset-label{
  display: block;
}

#dataset-label p {
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  padding: 5px 0;
  margin: auto 0;
  width: 80%
}
#dataset-label button {
  margin: auto 0;
}

#dataset-label div {
  margin: 25px 10%;
  width: 80%;
  height: 60px;
  padding: 5px 5%;
  text-align: left;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

#dataset-label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
#dataset-label > input + div{ /* DIV STYLES */
    cursor:pointer;
    border: 5px solid transparent;
}
#dataset-label > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    border-color: #d0ecf0;
}

/*-- Grid view for datasets --*/
.dataset-grid {
    width: 60%;
    margin: 25px 20%;
    display: none;
    grid-template-columns: 33% 33% 33%;
}

div.dataset-grid>div:nth-of-type(even) {
    background-color: #0b515c
}

div.dataset-grid>div:nth-of-type(odd) {
    background-color: #17A2B8
}

#dataset-block {
    margin: 20px 10%;
    width: auto;
    height: 100px;
    padding: 20px 5%;
    text-align: left;
    border-radius: 10px;
}

#dataset-block p {
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    margin: auto 0;
    padding: 5px 1%;
}

/*-- Download button stylesheet --*/

#download {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    float: right;
    background-color: rgba(256, 256, 256, 0.7);
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    transition-duration: 0.3s;
}

#download:hover {
    background: rgba(256, 256, 256, 1)
}

#DownloadIcon{
  width: 16px;
  height: 16px;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
}

/*-- Style of text before a visualization --*/

.block-text {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

header {
    width: 100%;
    height: 100px;
    overflow: visible;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #17A2B8;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

header h1#logo {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    float: left;
    font-family: "Muli", sans-serif;
    font-size: 60px;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 10px 10px 10px 40px;
}

header nav {
    display: inline-block;
    float: right;
}

header nav a {
    line-height: 100px;
    margin-left: 20px;
    color: #9fdbfc;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header nav a:hover {
    color: white;
}

header.smaller {
    height: 75px;
}

header.smaller h1#logo {
    width: 150px;
    height: 75px;
    line-height: 75px;
    font-size: 30px;
}

header.smaller nav a {
    line-height: 75px;
}

header h4#logo {
    font-family: "Muli", sans-serif;
    padding-top: 45px;
    padding-right: 10px;
    padding-left: 90px;
    max-width: 900px;
    margin: -15px;
    margin-left: 325px;
}

.btn-secondary {
    color: #fff;
    background-color: #0b515c;
    border-color: #0b515c;
}

.btn-secondary:hover {
    background-color: #09434d;
    border-color: #09434d;
}
