body {
    background-color: #1f1f1f;
    color: white;
    margin-left: 11%;
    text-align: center;
}

header {
    background-color: #1f1f1f;
}

h3 {
    text-align: left;
}

p {
    text-align: left;
}

.navigator {
    height: 100%;
    width: 11%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    font-size: 15px
}

.navigator a,
.router-link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.navigator a:hover {
    background-color: #ddd;
    color: black;
}

.navigator a.active,
.router-link-active {
    background-color: #3366ff;
    color: white;
}

#login-modal-title {
    color: black;
}

#signup {
    color: black;
}

.buttons {
    float: right;
    padding: 14px 16px;
    font-size: 30px;
}

.white {
    background-color: white;
    color: #434141;
}

.gray {
    background-color: #434141;
    color: white;
}

.hometext {
    padding: 0px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: black;
}

.openbutton{
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 30px;
    background-color: #1f1f1f;
    color: white;
    border: none;
}

.openbutton:hover{
    background-color: #ddd;
    color: black;
}

.closebutton{
    position: absolute;
    left: 20px;
    top: 0px;
    margin: -25px -25px -50px -25px;
    text-decoration: none;
    font-size: 40px;
    color: white;
    display: block;
    background-color: #111;
    border: none;
    z-index: -1;
}

/* .closebutton:hover{
    background-color: #ddd;
    color: black;
} */

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

#logout{
    position: absolute;
    right: 0px;
    top: 0px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.isHome{
    color: white;
}
.DatasetList{
  width: 60%;
  margin: 25px 20%;
}

/*div.DatasetList>div:nth-of-type(even){background-color: #1751b8}*/

div.DatasetList>div:nth-of-type(even){background-color:#0b515c}
div.DatasetList>div:nth-of-type(odd){background-color: #17A2B8}

#singleDataset{
  /*background-color: inherit;*/
  margin: 25px 10%;
  width: 80%;
  padding: 10px 5%;
  text-align: left;
  border-radius: 10px;
  border: 0px solid #434141;
}

.blocktext{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
