<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>

<head>
    <title>Eye tracking visualizations</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,200&display=swap');
    </style>
    <script src="{{vue_link}}"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="{{ url_for('static', filename='files/heatmap.js') }}"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://kit.fontawesome.com/25c8ffc3ac.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div id="app">
        <div id="topbar" width=100%>
            <header>
                <div class="clearfix">
                    <h1 id="logo">
                        Visualeyezer
                    </h1>
                    <h4 id="logo">Visualization software for eye tracking data</h4>

                    <login ref="login"></login>
                </div>
            </header>
        </div>
        <div class="nav-closed" v-if="loggedIn">
            <button class="open-button open-button-left" id='open-button-left' @click="sidebarOpen('left')">☰</button>
        </div>
        <div class="navigator navigator-left sidebar sidebar-left" id='sidebar-left' v-if="loggedIn">
            <button @click="sidebarClose('left')" id='close-button-left' class="close-button close-button-left">&times;</button>
            <router-link class="router-link" to="/home" name="Home">Home</router-link>
            <router-link class="router-link" to="/upload" name="Upload">Upload</router-link>
            {% for visualization in visualizations %}
            <router-link class="router-link" to="/{{visualization.link}}">{{ visualization.name }}</router-link>
            {% endfor %}
        </div>
        <!-- right sidebar -->
        <div class="navrightclosed" v-if="loggedIn">
            <button class="open-button open-button-right" id='open-button-right' @click="sidebarOpen('right')">☰</button>
        </div>
        <div class="navigator navigator-right sidebar sidebar-right" id='sidebar-right' v-if="loggedIn">
            <button @click="sidebarClose('right')" id='close-button-right' class="close-button close-button-right">&times;</button>
            <button class="test">click</button>

        </div>
        <!-- route outlet -->
        <!-- component matched by the route will render here -->
        {% block content %}{% endblock %}
        <div class="DatasetButtons">
            <button v-if="loggedIn" @click="showDatasets()" class="btn btn-info">Get datasets</button>
            <button v-if="loggedIn" @click="showList()" class="btn btn-info"> List </button>
            <button v-if="loggedIn" @click="showGrid()" class="btn btn-info"> Grid </button>
            <button v-if="loggedIn" @click="hide()" class="btn btn-info" id="hide" style="display: block;"> Hide </button>
            <button v-if="loggedIn" @click="unhide()" class="btn btn-info" id="unhide" style="display: none;"> Unhide </button>
        </div>

        <div class="dataset-list" style="display: block;">
            <label v-for="ds in datasets" id="dataset-label">
                <input type="radio" v-model="dataset" name="datasetList" :value="ds.ID">
                <div class="single-dataset">
                    <i></i>
                    <p> {% raw %} {{ds.Name}} {% endraw %}</p>
                    <button id="Download"><i id="DownloadIcon" class="fas fa-download"></i></button>
                </div>
            </div>
        </div>
        
        <div class="dataset-grid" style="display: none;">
            <label v-for="ds in datasets" id="dataset-label">
                <input type="radio" v-model="dataset" name="datasetGrid" :value="ds.ID">
                <div id="dataset-block">
                    <p> {% raw %} {{ds.Name}} {% endraw %} </p>
                    <button id="Download"><i id="DownloadIcon" class="fas fa-download"></i></button>
                </div>
            </label>
        </div>
        <!-- <div v-if="isHome">
            <p>
                Welcome to the website! <br>
                To the left you can find a menu which will guide you to the four different visualizations.
            </p>
        </div> -->
        <router-view></router-view>

    </div>
</body>
<script src="{{ url_for('static', filename='js/stimuliSelector.js')}}"></script>
<link rel="stylesheet" type="text/css" href="/static/css/modal.css">
<script src="{{ url_for('static', filename='js/modal.js')}} "></script>
{% for visualization in visualizations %}
<script src="/static/js/{{visualization.link}}.js "></script>
{% endfor %}
<script src="{{ url_for( 'static', filename='js/utils.js' ) }} "></script>
<script src="{{ url_for( 'static', filename='js/uploader.js' ) }} "></script>
<script src="{{ url_for( 'static', filename='js/login.js' ) }} "></script>
<script src="{{ url_for( 'static', filename='js/main.js' ) }} "></script>
{% block scripts %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js " integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous "></script>

</html>
