{% extends "base.html" %} {% block title %} Display tables {% endblock %} {% block content %}
<h1>Here we will display the dataframe of the stimuli you have selected</h1>
<table id="table">

    <thead></thead>
    <tr></tr>

</table>
{% endblock %}