<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<div id="app">
  <p>
    <!-- use router-link component for navigation. -->
    <!-- specify the link by passing the `to` prop. -->
    <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
    <router-link to="/upload"></router-link>
  </p>
  <router-view></router-view>
</div>

<body>
  <title>Upload</title>
  <h1>DBL - 2IOA0 - Group 09BD</h1>
  <div class="navigator">
    <a href="/">Home</a>
    <a class="active" href="upload">Upload</a>
    <a href="vis1">Visualisation 1</a>
    <a href="vis2">Visualisation 2</a>
    <a href="vis3">Visualisation 3</a>
    <a href="vis4">Visualisation 4</a>
  </div>
  <p>Upload here!<br />
    <form action="/file_uploaded" method="POST" enctype="multipart/form-data">
      <input type="file" id='fileUpload' hidden='hidden' />
      <button type='button' id='cstBtn'>UPLOAD YOUR FILE</button>
      <span id='cstTxt'>No upload recieved, yet.</span>
    </form>
  </p>
  <script src="{{ url_for('static', filename='js/btn.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>