{% extends "base.html" %} {% block title %} Visualisation 1 {% endblock %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vis1.css') }}">

<input type="radio" id="all" value="all" v-model="picked" name="users_" selected>
<label for="all">All users</label>
<input type="radio" id="one" value="one" v-model="picked" name="users_">
<label for="one">One user</label>
<br>

<div v-if="picked == 'one'">
    <select v-model="selected" placeholder="Select a user">
        <option v-for="u in users">{% raw %} {{u}} {% endraw %}</option>
    </select>
    <span>Selected: {% raw %} {{selected}} {% endraw %}</span>
</div>


<div id="scatter-plot"></div>



{% endblock %}
{% block scripts%}
<script src="{{ url_for('static', filename='js/vis1.js') }}">
</script>
{% endblock %}