<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <title>Visualisation 2</title>
  <h1>DBL - 2IOA0 - Group 09BD</h1>
  <div class="navigator">
    <a href="/">Home</a>
    <a href="upload">Upload</a>
    <a href="vis1">Visualisation 1</a>
    <a class="active" href="vis2">Visualisation 2</a>
    <a href="vis3">Visualisation 3</a>
    <a href="vis4">Visualisation 4</a>
  </div>
  <p>Vis2
    <script src="{{ url_for('static', filename='js/main.js') }}">
    </script>
</body>

</html>